
@import 'styles/variables.scss';


.navigation {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  transition: background-color .3s ease;

  .nav-active {
    span {
      color: $primary50 !important;
      font-weight: 700;
    }
  }

  .logo {
    height: 35px;
    width: auto;
  }

  .nav-desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .nav-left {

    }

    .nav-center {
      display: flex;
      
      
      .nav-parents-wrapper {
        padding: 0 24px;
        margin-left: 24px;
        position: relative;

        .nav-parents {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 14px;
          color: $black60;
          cursor: pointer;

          .chevron {
            width: 24px;
            margin-left: 8px;
            transform: rotate(90deg)
          }
        }

        &:hover {
          .nav-child-wrapper {
            top: 27px;
            z-index: 1;
            opacity: 1;
            visibility: visible;
          }
        }

        .nav-child-wrapper {
          display: flex;
          visibility: hidden;
          flex-direction: column;
          position: absolute;
          top: 20px;
          z-index: -1;
          opacity: 0;
          left: 0;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
          border-radius: 5px;
          transition: all .3s ease;

          &:after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: white;
            position: absolute;
            top:-2px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            z-index: 0;
          }

          .link-child-text {
            font-weight: 700;
            font-size: 14px;
            min-width: 140px;
            color: $black60;
            margin: 0;
          }

          .nav-child {
            
            padding: 12px 16px;
            position: relative;
            z-index: 1;
            transition:  background-color .2s ease;

            &:hover {
              background-color: darken($lightgrey, 5%);
            }
          }
        }

        
      }

      .nav-child {
        display: flex;
        align-items: center;
        padding: 0 24px;
        margin-left: 24px;
      }

      .link-text {
        font-weight: 700;
        font-size: 14px;
        color: $black60;
        transition:  color .2s ease;
        
        &:hover {
          color: $primary50;
        }
      }

      
    }

    .nav-right {
      button:first-child {
        margin-right: 24px;
      }
    }
  }

  .nav-mobile {
    padding: 0 16px;
    width: 100%;
    height: 100%;
    position: relative;

    .nav-mobile-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      .nav-left {
      }
  
      .hamburger {
        width: 24px; 
      }
    }

    

    .menu {
      display: none;
      background: white;
      width: 100%;
      position: absolute;
      padding: 0 16px;
      top: 60px;
      left: 0;
      overflow-y: scroll;
      max-height: calc(100vh - 60px);

      .nav-parents-wrapper {
        .nav-parents {
          font-size: 18px;
          color: $black80;
          font-weight: 700;
          margin: 16px 0;
        }

        .nav-child-wrapper {
          .nav-child-item {
            font-size: 14px;
            padding: 12px 0px;
            display: block;
            color: $black50;
            width: 100%;
            border-bottom: 1px solid #eaeaea;
          }
        }
      }
      
      .nav-item {
        padding: 12px 0px;
        display: block;
        font-size: 16px;
        color: $black60;
        font-weight: 700;
      }

      &-active {
        display: block;
        border-bottom: 1px solid $black10;
      }
    }
  }

  @include media(lg) {
    height: 80px;

    .nav-desktop {
      display: flex;
    }
    .nav-mobile {
      display: none;
    }
  }

  &--home {
    background-color: transparent;
    .nav-desktop {
      .link-text {
        color: white !important;
      }

      .secondary {
        border: 1px solid white !important;
        a {
          color: white !important;
        }

        &:hover {
          background-color: white;
          a {
            color: $primary50 !important;
          }
        }
      }
      
    }
  }
}