
.dokterUmum {
  background-image: url('/static/icon/background-small.svg');
  background-size: cover;
  background-repeat: no-repeat;
  
  .hero {
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('/static/image/others-dokter-umum.jpeg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80vh;
    h4 {
      color: $primary50;
    }
    button {
      background-color: transparent;
    }
    p {
      font-size: 16px;

      @include media(md) {
        font-size: 20px;
      }
    }
  }

  .second-section {
    h4 {
      max-width: 700px;
    }

    .features__wrapper {

      .features__title {
        font-weight: 700;
        color: $primary50;
      }

    }
  }

  .third-section {
    .card__wrapper {
      > div {
        margin-bottom: 48px;
      }
      .card {
        border-radius: 20px;
        border: 1px solid $black40;
        height: 100%;
        max-height: 400px;

        .card__icon {
          width: 100px;
          height: 100px;
          margin: 0 auto;
          margin-bottom: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            max-height: 100%;
          }
        }


        .card__title {
          font-weight: 700;
          color: black;
          line-height: 1.4 !important;
        }

        .card__desc {
          color: $black50;
          line-height: 1.45 !important;
        }
      }
    }
  }
}