
// img {
// 	width: 100%;
// 	height: auto;
// }

button {
	border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  font-family: $family-primary;
  cursor: pointer;
}

img {
  max-width: 100%;
}

button:disabled,
button[disabled] {
	cursor: not-allowed;
	&.primary {
		opacity: 0.3;
		background-color: $black50 !important;
	}
	&.secondary {
		border-color: $black50 !important;
		color: $black50 !important;
		background-color: $white !important;
	}
}

.article-image {
  max-height: 600px;
  width: auto;
}

.label {
    font-weight: 700;
    color: $black60;
    margin: 24px 0 12px 0;
  }

.btn {
	position: relative;
	font-size: 1rem;
	line-height: 1.5;
	cursor: pointer;
  font-family: $family-primary;
  border-radius: 30px;

  &--block {
    font-size: $font-medium;
    padding: 6px 12px;
  }
  &--small {
    font-size: $font-medium;
    padding: 4px 18px;
  }
  &--medium {
    font-size: $font-size;
    padding: 9px 36px;
  }

  &--large {
		font-size: 18px;
    padding: 15px 30px;
  }

  &.primary {
    background-color: $primary50;
    color: $white;
    font-weight: 700;
    transition: background-color .3s ease;

    a {
      color: $white;
    }

    &:hover {
      background-color: darken($primary50, 10%);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $primary50;
    font-weight: 700;
    border: 1px solid $primary50;
    transition: background-color .3s ease, color .3s ease;

    a {
      color: $primary50;
    }

    &:hover {
      background-color: darken($primary50, 10%);
      color: $white;

      a {
        color: $white;
      }
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $black50;
    font-weight: 700;
    border: 1px solid $black40;
    transition: border .3s ease, color .3s ease, background-color .3s ease,;

    &.active {
      border: 1px solid $black80;
      color: $black80;
      background-color: $primary10;
    }

    &:hover {
      border: 1px solid $black80;
      color: $black80;
      background-color: $primary10;
    }
  }

  &.large {
    width: 300px;
  }
}

.form__group {
  margin-bottom: 24px;

  .form__group-label {

    label {
      font-size: $font-medium;
      color: $black80;
      display: block;
      margin-bottom: 8px;
      font-weight: 700;
    }

    .required {
      font-size: $font-medium;
      color: $primary50;
    }
  }
  

  .error {
    color: red;
    font-size: 14px;
    font-weight: 500;
  }
}



input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select,
textarea {
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	padding: 10px 12px;
  border: 1px solid rgba(200,200,220,1);
  border-radius: 12px;
  outline:none;
  width: 100%;
  transition: border .3s ease;
  margin-bottom: 4px;
  font-size: $font-size;
  font-family: $family-primary;
  color: $black60;
  background: transparent;
  
  &.small {
    padding: 5px 12px;
  }

  &.error {
    border: 1px solid $primary50;
  }
  &:focus {
      border: 1px solid $black80;
  }
}

select {
  height: 44px;
  text-indent: 4px;
}


textarea {
	padding: .75rem;
	min-height: 150px;
}



.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal__black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 5;
  }

  .modal__body {
    width: calc(100vw - 40px);
    max-width: 440px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 6;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .modal__header {
    padding: 12px 0;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between
  }
}

.box-shadow {
  box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}



/* Hide the browser's default radio button */

.container-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */

.checkmark-radio {
	position: absolute;
	top: 50%;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
	border-radius: 50%;
	border: 2px solid rgb(93, 107, 119);
	transform: translateY(-50%);
}

.container-radio:hover input~.checkmark-radio {
	background-color: #ccc;
}

.container-radio input:checked~.checkmark-radio {
	background-color: #2196F3;
}

.checkmark-radio:after {
	content: "";
	position: absolute;
	display: none;
}

.container-radio input:checked~.checkmark-radio:after {
	display: none;
}

.container-radio .checkmark-radio:after {
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}