$mobile: 576px !default; // used for max-width only

// mobile-first breakpoints (min-width: $x)
$mobile-large: 577px !default;
$tablet: 768px !default;
$desktop: 1024px !default;
$widescreen: 1200px !default;
$fullhd: 1392px !default;

@import './variables';


html,
body {
  font-family: $family-primary;
  font-size: $font-size;
  background-color: $white;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  // font-size: responsive 14px 21px; /* min-size, max-size */
  // font-range: 480px 1280px; /* viewport widths between which font-size is fluid */
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  text-shadow:  transparent 0 0 0, rgba(0,0,0,.68) 0 0 0 ;
}

@import './layout';
@import './elements';
@import './typography';

@import './pages/index.scss';
@import './pages/pricing.scss';
@import './pages/login.scss';
@import './pages/register.scss';
@import './pages/homecare.scss';
@import './pages/terms.scss';
@import './pages/privacy.scss';
@import './pages/about.scss';
@import './pages/contact.scss';


@import './pages/ehr/bpjs.scss';
@import './pages/ehr/ehr.scss';
@import './pages/ehr/introduction.scss';

@import './pages/others/dokterUmum.scss';
@import './pages/others/dokterGigi.scss';
@import './pages/others/klinikPratama.scss';
@import './pages/others/puskesmas.scss';


.flex-justify {
  display: flex;
  justify-content: center;
}
.flex-items {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 14px;
}

.btn--block {
  max-width: 500px;
}

.mw-1 {
  max-width: 320px;
}
.mw-2 {
  max-width: 540px;
}
.mw-3 {
  max-width: 720px;
}
.mw-4 {
  max-width: 960px;
}
.mw-5 {
  max-width: 1140px;
}


.text-shadow {
  text-shadow: 0 2px 14px rgba(0, 0, 0, 0.77);
}

.blog__content img {
  max-width: 100%;
  width: initial;
}

.section-title {
  border-bottom: 1px solid rgba(0,0,0,.25);
  padding-bottom: 8px;
}

::placeholder {
  line-height: 1.5;
  opacity: 0.75;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 1;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}


.page-enter, .page-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.content {
  p {

    @include media(sm) {
      font-size: 16px;
    }

    @include media(md) {
      font-size: 18px;
    }

    img {
      width: initial;
      display: block;
      margin: 24px auto;
      max-width: 100%;
    }
  }
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include media(md) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.section-header {
  padding-top: 80px;
  padding-bottom: 48px;

  @include media(sm) {
    padding-top: 128px;
    padding-bottom: 80px;
  }

  @include media(md) {
    padding-top: 144px;
    padding-bottom: 96px;
  }
}

.section-white {
  background-color: $white;
}

.box-shadow {
  box-shadow: 0px 4px 10px rgba(0,0,0,.1)
}

.pointer {
  cursor: pointer;
}


.chat {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  right: 12px;
  width: 30vw;
  max-width: 200px;
  min-width: 180px;
}


