
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 24px;
$h5: 18px;
$h6: 12px;


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $black80;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 400;
	line-height: 1.25;
}

p {
	margin-top: 0;
	margin-bottom: 12px;
	line-height: 1.75;
	color: $black60;
}

h1,
.h1 {
	font-size: $h1 ;
}

h2,
.h2 {
	font-size: $h2 ;
}

h3,
.h3 {
	font-size: $h3 ;
}

h4,
.h4 {
	font-size: $h4 ;
}

h5,
.h5 {
	font-size: $h5 ;
}

h6,
.h6 {
	font-size: $h6 ;
}

@media (min-width:$mobile) {
	.h1-sm {
		font-size: $h1;
	}
	.h2-sm {
		font-size: $h2;
	}
	.h3-sm {
		font-size: $h3;
	}
	.h4-sm {
		font-size: $h4;
	}
	.h5-sm {
		font-size: $h5;
	}
	.h6-sm {
		font-size: $h6;
	}
}

@media (min-width:$tablet) {
	.h1-md {
		font-size: $h1;
	}
	.h2-md {
		font-size: $h2;
	}
	.h3-md {
		font-size: $h3;
	}
	.h4-md {
		font-size: $h4;
	}
	.h5-md {
		font-size: $h5;
	}
	.h6-md {
		font-size: $h6;
	}
}

@media (min-width:$desktop) {
	.h1-lg {
		font-size: $h1;
	}
	.h2-lg {
		font-size: $h2;
	}
	.h3-lg {
		font-size: $h3;
	}
	.h4-lg {
		font-size: $h4;
	}
	.h5-lg {
		font-size: $h5;
	}
	.h6-lg {
		font-size: $h6;
	}
}

.fw-300 {
	font-weight: 300 !important;
}
.fw-400 {
	font-weight: 400 !important;
}
.fw-500 {
	font-weight: 500 !important;
}
.fw-600 {
	font-weight: 600 !important;
}
.fw-700 {
	font-weight: 700 !important;
}
.fw-800 {
	font-weight: 800 !important;
}

.letter-spacing-1 {
	letter-spacing: .25px;
}

.letter-spacing-2 {
	letter-spacing: .5px;
}

.letter-spacing-3 {
	letter-spacing: .75px;
}

b {
	color: $black80;
}

a {
	&:active {
		color: initial !important;
	}
}

.error {
	font-size: $font-medium;
	color: $primary50;
	font-weight: 700;
	display: block;
}

.errorShake {
	animation: kf_shake 0.4s 1 linear;
}

@keyframes kf_shake {
	0% { transform: translate(10px); }
	20% { transform: translate(-10px); }
	40% { transform: translate(5px); }
	60% { transform: translate(-5px); }
	80% { transform: translate(2px); }
	100% { transform: translate(0px); }
}